<% if @student.errors.any? %>
    <% @student.errors.full_messages.each do |message| %>
        <p><%= message %></p>
    <%end%>
<%end%>

<h1>Edit Student!</h1>

<%= form_for(@student) do |f| %>
    <h3> First Name: </h3>
    <%=f.text_field :first_name %>
    <h3> Last Name: </h3>
    <%=f.text_field :last_name %>
    <h4> Age: </h4>
    <%=f.number_field :age %><br><br>
    <%= f.label :school %>
    <%= f.collection_select :school_id, School.all, :id, :name, prompt: true %>
    <br><br>
    <%= f.submit "New Student!" %>
    <%end%>